.group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-1 {
  width: 100%;
}

.group-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .group-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .group-2 {
    width: auto;
    margin-right: 1rem;
    margin-bottom: 0;
  }

  .group-1 {
    width: auto;
  }
}