/* globals.css */
/* .background { */
  /* position: relative;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  background: url('/assets/background/backgroundi.gif');
  animation: scrollBackground 10s linear infinite; */
  /* position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('/assets/background/backgroundi.gif') no-repeat center center;
  background-size: cover;
  animation: scrollBackground 10s linear infinite; */

  /* position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('/assets/background/backgroundi.gif') no-repeat center center;
  background-size: cover; /* This ensures the image covers the entire background area */
  /* animation: scrollBackground 10s linear infinite; */
/* }

@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: -100% 0;
  }
} */ 

/* .background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url('/assets/background/backgroundi.gif') no-repeat center center;
  background-size: cover; /* This ensures the image covers the entire background area */

.parallax {
  position: relative;
  overflow: hidden;
  height: 100%;
  perspective: 1px;
}

.parallax__layer {
  position: absolute;
  /* top: 500; */
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
}

.parallax__layer--back {
  background: url('/assets/background/background-core.gif') no-repeat center center;
  background-size: cover;
  transform: translateZ(-1px) scale(2);
}

.parallax__layer--base {
  position: relative;
  z-index: 1;
}