.background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: contain;
  transition: all 0.3s ease-in-out 0s !important;
}

[data-mode="system"] .background {
  background: transparent;
  opacity: 1; 
}

[data-mode="dark"] .background {
  background: 
    radial-gradient(#7F7F7F 70%, #156082, #7F7F7F 20%),
    linear-gradient(to bottom, #000000, #156082 20%, #000000 70%);
  background-size: cover; 
  background-blend-mode: overlay; 
  opacity: 1; 
}

[data-mode="light"] .background {
  background: 
    radial-gradient(#7F7F7F 70%, #DAF5FE, #7F7F7F 20%),
    linear-gradient(to bottom, #FFFFFF, #DAF5FE 20%, #FFFFFF 70%);
  background-size: cover; 
  background-blend-mode: overlay; 
  opacity: 1; 
}