.background {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: contain;
  transition: all 0.3s ease-in-out 0s !important;
}

[data-mode="system"] .background {
  background: transparent;
  opacity: 1; 
}

[data-mode="dark"] .background {
  background: 
    radial-gradient(#7F7F7F 40%, #506464, #7F7F7F),
    linear-gradient(to bottom, #000000, #506464, #000000);
  background-size: cover; 
  background-blend-mode: overlay; 
  opacity: 1; 
}

[data-mode="light"] .background {
  background: 
    radial-gradient(#CAFEFE 80%, #FFFFFF),
    linear-gradient(to bottom, #FFFFFF, #CAFEFE, #FFFFFF);
  background-size: cover, contain; 
  background-blend-mode: overlay; 
  opacity: 1; 
}